body, html {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .links {
    float: right;
    word-spacing: 10px;
  }
  
  .link:active, .link:hover, .link:visited, .link:link {
    color: fuchsia;
    background-color: transparent;
    text-decoration: none;
  }
  
  .text {
    color: white;
  }
  
  h1 {
    text-align: center;
  }
  
  .copyright {  
    position: absolute;
    bottom: 5px;
    left: 50%;
  }
  
  .github {
    color: white;
  }