.a {
    float: right;
    word-spacing: 10px;
}

body {
    background-color: rgb(24, 24, 24);
    color: white;
}

a:link {
    color: fuchsia;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: fuchsia;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: fuchsia;
    background-color: transparent;
    text-decoration: underline;
  }

  .b {
    color: white;
  }

  h1 {
    text-align: center;
  }

  .copyright {  
    position: absolute;
    bottom: 0;
  }

  .c {
    position: absolute;
  }